<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nova Empresa" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEmpresas()" [disabled]="!selectedEmpresas || !selectedEmpresas.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="empresas" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['cpfCnpj','razaoSocial']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedEmpresas" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Empresas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nome">CNPJ<p-sortIcon field="cpfCnpj"></p-sortIcon></th>
                        <th pSortableColumn="numeroEmpresa">Razão Social <p-sortIcon field="razaoSocial"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-empresa>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="empresa"></p-tableCheckbox>
                        </td>
                        <td style="width:30%; min-width:10rem;"><span class="p-column-title">CNPJ</span>{{empresa.cpfCnpj}}</td>
                        <td style="width:70%; min-width:10rem;"><span class="p-column-title">Razão Social</span>{{empresa.razaoSocial}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmpresa(empresa)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmpresa(empresa)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [closeOnEscape]="false" [draggable]="false" [(visible)]="empresaDialog" [style]="{width: '1200px', height: '800px'}" header="Empresa" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-fluid p-formgrid grid">
                    <div class="field md:col-8" style="position: relative;">
                        <label for="socio">Sócio</label>
                        <input pInputText type="text" id="socio" [(ngModel)]="socio" placeholder="Selecione o Sócio" name="socio" [readonly]="true" autocomplete="off" />
                        <button *ngIf="socio" type="button" class="clear-button" (click)="limparSocio()"
                                style="position: absolute; top: 3.7rem; right: 1.7rem; border: none; background: transparent; font-size: 1rem; cursor: pointer; padding: 0; color: #888;">
                            ✕
                        </button>
                    </div>
                   
                    <div class="field col-12 md:col-8">
                        <label for="razaoSocial">Razão Social</label>
                        <input type="text" pInputText id="razaoSocial" [(ngModel)]="empresa.razaoSocial" style="font-size: 1rem" autocomplete="off" />
                    </div>
                    <div class="field col-12 md:col-7">
                        <label for="nomeFantasia">Nome Fantasia</label>
                        <input type="text" pInputText id="nomeFantasia" [(ngModel)]="empresa.nomeFantasia" style="font-size: 1rem" autocomplete="off" />
                    </div>                   
                </div>                   
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveEmpresa()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEmpresaDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="empresa">Você tem certeza que deseja deletar <b>{{empresa.razaoSocial}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteEmpresaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEmpresasDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você tem certeza que deseja deletar os empresas selecionadas?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteEmpresasDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>    
</div>
