<div class="layout-topbar">
    <div class="layout-topbar-logo">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" alt="logo">
        <span></span>
    </div>

    <div class="command-bar">
        <i class="pi pi-star-fill command-bar-icon"></i>
        <input type="text" placeholder="Pergunte algo, ou busque um pedido, produto, CNPJ..." />
        <span class="command-bar-shortcut">⌘K</span>
    </div>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button theme-toggle" (click)="toggleColorScheme()" title="Alternar tema claro/escuro">
            <i class="pi" [ngClass]="layoutService.config().colorScheme === 'dark' ? 'pi-sun' : 'pi-moon'"></i>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendário</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'cadastro/alterarSenha'">
            <i class="pi pi-user"></i>
            <span>Perfil</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Configurações</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-power-off"></i>
            <span>Sair</span>
        </button>
    </div>
</div>
